
# PlanAhead Generated IO constraints 

NET "an[3]" IOSTANDARD = LVCMOS33;
NET "an[2]" IOSTANDARD = LVCMOS33;
NET "an[1]" IOSTANDARD = LVCMOS33;
NET "an[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "an[3]" LOC = P17;
NET "an[2]" LOC = P18;
NET "an[1]" LOC = N15;
NET "an[0]" LOC = N16;

# PlanAhead Generated IO constraints 

NET "dataIn[7]" IOSTANDARD = LVCMOS33;
NET "dataIn[6]" IOSTANDARD = LVCMOS33;
NET "dataIn[5]" IOSTANDARD = LVCMOS33;
NET "dataIn[4]" IOSTANDARD = LVCMOS33;
NET "dataIn[3]" IOSTANDARD = LVCMOS33;
NET "dataIn[2]" IOSTANDARD = LVCMOS33;
NET "dataIn[1]" IOSTANDARD = LVCMOS33;
NET "dataIn[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "dataIn[7]" LOC = T5;
NET "dataIn[6]" LOC = V8;
NET "dataIn[5]" LOC = U8;
NET "dataIn[4]" LOC = N8;
NET "dataIn[3]" LOC = M8;
NET "dataIn[1]" LOC = T9;
NET "dataIn[0]" LOC = T10;
NET "dataIn[2]" LOC = V9;

# PlanAhead Generated IO constraints 

NET "sseg[6]" IOSTANDARD = LVCMOS33;
NET "sseg[5]" IOSTANDARD = LVCMOS33;
NET "sseg[4]" IOSTANDARD = LVCMOS33;
NET "sseg[3]" IOSTANDARD = LVCMOS33;
NET "sseg[2]" IOSTANDARD = LVCMOS33;
NET "sseg[1]" IOSTANDARD = LVCMOS33;
NET "sseg[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "sseg[6]" LOC = T17;
NET "sseg[5]" LOC = T18;
NET "sseg[4]" LOC = U17;
NET "sseg[3]" LOC = U18;
NET "sseg[2]" LOC = M14;
NET "sseg[1]" LOC = N14;
NET "sseg[0]" LOC = L14;
NET "btn_rd" LOC = A8;
NET "btn_wr" LOC = C9;
NET "clk" LOC = V10;
NET "empty" LOC = U16;
NET "full" LOC = V16;
NET "rst" LOC = C4;

# PlanAhead Generated IO constraints 

NET "btn_rd" IOSTANDARD = LVCMOS33;
NET "btn_wr" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "full" IOSTANDARD = LVCMOS33;
NET "empty" IOSTANDARD = LVCMOS33;
NET "rst" IOSTANDARD = LVCMOS33;
