//! **************************************************************************
// Written by: Map P.49d on Mon Mar 27 11:45:49 2017
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "btn_rd" LOCATE = SITE "A8" LEVEL 1;
COMP "btn_wr" LOCATE = SITE "C9" LEVEL 1;
COMP "sseg<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "sseg<1>" LOCATE = SITE "N14" LEVEL 1;
COMP "sseg<2>" LOCATE = SITE "M14" LEVEL 1;
COMP "sseg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "sseg<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "sseg<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "sseg<6>" LOCATE = SITE "T17" LEVEL 1;
COMP "empty" LOCATE = SITE "U16" LEVEL 1;
COMP "dataIn<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "dataIn<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "dataIn<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "dataIn<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "full" LOCATE = SITE "V16" LEVEL 1;
COMP "dataIn<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "rst" LOCATE = SITE "C4" LEVEL 1;
COMP "dataIn<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "dataIn<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "dataIn<7>" LOCATE = SITE "T5" LEVEL 1;
SCHEMATIC END;

