
# PlanAhead Generated physical constraints 

NET "segments[0]" LOC = M13;

# PlanAhead Generated IO constraints 

NET "segments[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "segments[1]" LOC = L14;
NET "segments[2]" LOC = N14;
NET "segments[3]" LOC = M14;
NET "segments[4]" LOC = U18;
NET "segments[5]" LOC = U17;
NET "segments[6]" LOC = T18;
NET "segments[7]" LOC = T17;

# PlanAhead Generated IO constraints 

NET "segments[7]" IOSTANDARD = LVCMOS33;
NET "segments[6]" IOSTANDARD = LVCMOS33;
NET "segments[5]" IOSTANDARD = LVCMOS33;
NET "segments[3]" IOSTANDARD = LVCMOS33;
NET "segments[4]" IOSTANDARD = LVCMOS33;
NET "segments[2]" IOSTANDARD = LVCMOS33;
NET "segments[1]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "clk" LOC = V10;

# PlanAhead Generated IO constraints 

NET "clk" IOSTANDARD = LVCMOS33;
NET "hour" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "reset" LOC = D9;
NET "hour" LOC = C4;

# PlanAhead Generated IO constraints 

NET "reset" IOSTANDARD = LVCMOS33;
NET "anode[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "anode[0]" LOC = N16;
NET "anode[1]" LOC = N15;
NET "anode[2]" LOC = P18;
NET "anode[3]" LOC = P17;

# PlanAhead Generated IO constraints 

NET "anode[3]" IOSTANDARD = LVCMOS33;
NET "anode[1]" IOSTANDARD = LVCMOS33;
NET "anode[2]" IOSTANDARD = LVCMOS33;
